name = "TimeParallel"
uuid = "be6fae49-30d2-4092-b236-0bef8b98bcec"
authors = ["Giancarlo A. Antonucci"]
version = "0.1.1"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
